<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="data">
				<table class="tablesorter display compact">
		            <thead>
		                <tr>
		                    <th>Name</th>
		                    <th>Department</th>
		                    <th>Price</th>
		                    <th>Stock</th>
		                    <th>Active</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
	                {{#each products}}
	                    <tr>
	                        <td>{{this.name}}</td>
	                        <td>{{this.department}}</td>
	                        <td>{{this.price}}</td>
	                        <td>{{this.stock}}</td>
	                        <td>
	                        	{{#if this.active}}
	                        		Yes
	                        	{{else}}
	                        	  	No
	                        	{{/if}}
	                    	</td>
	                        <td><a data-id="{{this.id}}"" class="btn btn-success btn-sm btn-edit"><span class="glyphicon glyphicon-pencil"></span></a>
	                        <a data-id="{{this.id}}"" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span></a></td>
	                    </tr>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>